table.hintgrid {
    border-width: 0 0 1px 0px;
    border-spacing: 0;
    border-collapse: collapse;
}

td.hintgrid {
    border: 1px solid black;
}

th.hintgrid {
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 1px;
    background-color: #FFC;
    border: 1px solid black;
}​